@font-face {
    font-family: nb;
    src: url(../Fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(../Fonts/Rejouice-Headline.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ECECEC;
    font-family: 'NBInternationalProBoo', sans-serif;
}

.neon-logo {
    /* font-family: 'Pacifico', cursive; Updated font family */
    font-family: rejoy;
    font-size: 1.8rem;
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC, 0 0 10px #BB86FC, 0 0 20px #BB86FC, 0 0 30px #BB86FC, 0 0 40px #BB86FC;
}

.neon-logo:hover{
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC, 0 0 10px #BB86FC, 0 0 20px #BB86FC, 0 0 30px #BB86FC, 0 0 40px #BB86FC;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: #121212; /* Same as body background color */
}

.navbar-toggler {
    border-color: #BB86FC;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(187, 134, 252, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
    color: #ECECEC !important;
    font-family: 'NBInternationalProBoo', sans-serif;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #BB86FC !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #BB86FC !important;
}

.navbar-nav .dropdown-menu {
    background-color: #2C2C2C;
}

.navbar-nav .dropdown-item {
    color: #ECECEC;
}

.navbar-nav .dropdown-item:hover, .navbar-nav .dropdown-item:focus {
    color: #03DAC5;
    background-color: #2C2C2C;
}

.main {
    padding: 20px;
}

/* About Me */
.about-section {
    background: radial-gradient(ellipse at top left, rgba(187, 134, 252, 1) 63%, rgba(187, 134, 252, 1) 37%, rgba(187, 134, 252, 1) 30%, rgba(187, 134, 252, 1) 70%) / ellipse 58% 62%,
                radial-gradient(ellipse at bottom right, rgba(187, 134, 252, 1) 58%, rgba(187, 134, 252, 1) 62%, rgba(187, 134, 252, 1) 38%, rgba(187, 134, 252, 1) 42%);
    color: #ECECEC;
    padding: 80px 0;
    position: relative; /* Ensure relative positioning for absolute elements */
    overflow: hidden; /* Prevent overflowing animations */
}

.about-content h2 {
    font-size: 2.5rem;
    font-family: 'rejoy', sans-serif;
    color: #BB86FC;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-out; /* Animation for heading */
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out; /* Animation for paragraphs */
}

.about-details h3 {
    font-size: 1.8rem;
    font-family: 'rejoy', sans-serif;
    color: #BB86FC;
    margin-bottom: 20px;
    animation: slideInRight 1s ease-out; /* Animation for details heading */
}

.about-details ul {
    list-style-type: none;
    padding-left: 0;
}

.about-details ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    animation: fadeInRight 1s ease-out; /* Animation for details list items */
}

/* Keyframe animations */
@keyframes slideInLeft {
    0% { transform: translateX(-50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    0% { transform: translateX(50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* Colorful designs - example */
.about-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #BB86FC, #03DAC5, #FFD700); /* Example gradient */
    opacity: 0.4;
    z-index: -1; /* Ensure behind other content */
    mix-blend-mode: overlay; /* Blend mode for colorful effect */
}
