@font-face {
    font-family: nb;
    src: url(../Fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(../Fonts/Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: rejoy;
}
.main .container-2{
    margin: auto;
    padding: 2.5vw;
    display: flex;
    width: 95%;
    margin-top: 3vw;
    background-color: antiquewhite;
    margin-bottom: 3vw;
    border-radius: 20px;
}
.container-2 h3{
    font-weight: 500;
    font-family: nb;
    margin: 0.5vw;
    margin-top: 2vw;
}
.container-2 h4{
    font-weight: 500;
    margin: 0.5vw;
    margin-top: 2vw;
}
#api-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#video{
    margin: auto;
    width: 80vw;
    height: auto;
}
