@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(./Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #FFFFFF, #3498DB); /* Updated background gradient */
    background-repeat: no-repeat;
    animation: color 100s ease-in-out infinite;
    background-size: 500% 500%; 
    overflow: hidden; /* Prevent scrolling */
    color: #34495E; /* Text color */
}
.load {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #34495E; 
    z-index: 99;   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECF0F1; 
    gap: 0.5vw; 
}
.load h3 {
    font-weight: 100;
    font-size: 2vw;
    font-family: rejoy;
}
.container-1 video{
    width: 100vw;
    height: 100vh;
}