@font-face {
    font-family: nb;
    src: url(../Fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(../Fonts/Rejouice-Headline.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ECECEC;
    font-family: 'NBInternationalProBoo', sans-serif;
}

.load {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #1F1F1F; 
    z-index: 99;   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BB86FC; 
    gap: 0.5vw; 
}

.load h3 {
    font-weight: 100;
    font-size: 2vw;
    font-family: rejoy;
}

.neon-logo {
    /* font-family: 'Pacifico', cursive; Updated font family */
    font-family: rejoy;
    font-size: 1.8rem;
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC, 0 0 10px #BB86FC, 0 0 20px #BB86FC, 0 0 30px #BB86FC, 0 0 40px #BB86FC;
}

.neon-logo:hover{
    color: #BB86FC;
    text-shadow: 0 0 5px #BB86FC, 0 0 10px #BB86FC, 0 0 20px #BB86FC, 0 0 30px #BB86FC, 0 0 40px #BB86FC;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: #121212; /* Same as body background color */
}

.navbar-toggler {
    border-color: #BB86FC;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(187, 134, 252, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
    color: #ECECEC !important;
    font-family: 'NBInternationalProBoo', sans-serif;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #BB86FC !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #BB86FC !important;
}

.navbar-nav .dropdown-menu {
    background-color: #2C2C2C;
}

.navbar-nav .dropdown-item {
    color: #ECECEC;
}

.navbar-nav .dropdown-item:hover, .navbar-nav .dropdown-item:focus {
    color: #03DAC5;
    background-color: #2C2C2C;
}

.main {
    padding: 20px;
}

/* Social Media Button Styles */
.social-media-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.social-media-button {
    width: 50px;
    height: 50px;
    background-color: #BB86FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.social-media-button i {
    color: #121212;
    font-size: 24px;
}

.social-media-button:hover {
    background-color: #03DAC5;
    transform: scale(1.1); /* Scale up slightly on hover */
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 60px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.social-media-icons a {
    margin: 10px 0;
    font-size: 24px;
    color: #ECECEC;
    transition: color 0.3s;
}

.social-media-icons a:hover {
    color: #BB86FC;
}

.social-media-container.open .social-media-icons {
    opacity: 1;
    visibility: visible;
}

.social-media-container.open .social-media-icons a {
    transform: translateY(0);
}

.social-media-icons a {
    transform: translateY(20px);
    transition: transform 0.3s, opacity 0.3s;
}
