* {
  /* --background: 222 65% 6%; */
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}
